@{
    ViewBag.Title = "About";
}
<h2>אודות</h2>

<div id="about">
    <p>באתרנו תוכלו לבצע את קניית המוצרים השווה ביותר והזולה ביותר, ע"י השוואת מוצרים</p>
    <p>שאנו מבצעים בין רשתות הקניות המובילות בארץ </p>
    <p>האתר נבנה כך שחווית הקנייה תיהיה קלה ונוחה והמחירים יהיו המשתלמים ביותר.</p>
</div>