@{
    ViewBag.Title = "Home Page";
}


    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
 <body background="~/Picture/PageBackground.jpg">
     <script>
          $(function () {

              var canvas = document.getElementById('welcome-canvas');
              var ctx = canvas.getContext("2d");
              var start;

              var img = $("<img>").on("load", function () {
                  start = Date.now();
                  draw();
              }).attr("src", "../../Picture/productall.png").get(0);

              function draw() {
                  var part = (Date.now() - start) / 10 % img.width;
                  ctx.drawImage(img, part, 35, img.width, 430);
                  ctx.drawImage(img, part - img.width, 35, img.width, 430);
                  webkitRequestAnimationFrame(draw, canvas);
              };
          })

      </script> 

    <div id="mainContent">
        <a id="welcomeLink" href="/Home/Index">
            <canvas id='welcome-canvas' width='1100' height='460'>
                Canvas dose not support
            </canvas>
        </a>
    </div>
</body>
