
@{
    ViewBag.Title = "SmartSuperCommercial";
}

<h2>אז מי אנחנו בעצם ?</h2>

<div style="margin: 0 auto; width:500px;"?
    <video controls="controls" autoplay>
        <source src="~/Clip/SmartSuperMarket.mp4" type="video/mp4"/>
        Your browswe dose not support HTML5 video :(
    </video>
</div>
